/* Setting the background color of the body to black and adding some padding to the top */
body {
	min-height: 100%;
	display: block;
	background-color: #000000;
	padding-top: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	overflow: scroll;
}

/* Styling the header with a fixed height and making it a flex container with items aligned in the center and spaced out evenly. Also adding some padding on the left and right. */
header {
	height: 80px;
	display: flex;
	padding-left: 10px;
}

.about{
	color: white;
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: right;

}

/* Styling the logo container as a flex container with items aligned in the center. */
.logo {
	display: flex;
	align-items: center;
}

/* Styling the logo image with a fixed height and some right margin. */
.logo img {
	height: 50px;
	margin-right: 10px;
}

/* Styling the images with different IDs with different widths. */
#this-front img {
	width: 100px;
}
#this-back img {
	width: 170px;
}
#is-front img {
	width: 50px;
}
#is-back img {
	width: 200px;
}
#luke-front img {
	width: 130px;
}
#luke-back img {
	width: 80px;
}

/* Styling the "front" and "back" classes with some grid properties, transformation origin, transition and backface visibility. */
.front,
.back {
	grid-column-start: 1;
	grid-row-start: 1;
	transform-origin: center;
	transition: transform 0.2s;
	backface-visibility: hidden;
}

/* Styling the container for the words with some grid properties, position, width and height, padding, and display as a grid container. */
.word-container {
	position: relative;
	width: auto;
	height: auto;
	padding-top: 5px;
	padding-left: 5px;
	display: grid;
}

/* Styling the word class as a grid container. */
.word {
	display: grid;
}

/* Styling the "front" class with a higher z-index. */
.front {
	z-index: 1;
}

/* Styling the "back" class with a 180 degree transformation on the X-axis. */
.back {
	transform: rotateX(180deg);
}

/* Adding a transformation to the "front" and "back" classes on hover. */
.word:hover .front {
	transform: rotateX(180deg);
}

.word:hover .back {
	transform: rotateX(0);
}

footer {
	color: white;
	height: 40px;
	position: fixed;
	background-color: #000000;
	bottom: 0;
	padding-left: 10px;
}

/* Styles for #portfoliophoto */
#portfoliophoto {
	width: 30%;
	display: block;
	position: fixed;
	bottom: 0.5;
	/* right: 0; */
}

/* Styles for screens with a max-width of 1000px */
@media only screen and (max-width: 1000px) {
	.word-container {
		padding: 0;
		
	}
}

/* Styles for screens with a max-width of 770px */
@media only screen and (max-width: 1000px) {
	#portfoliophoto {
		display: none;
	}
}

/* Styles for screens with a max-width of 400px */
@media only screen and (max-width: 400px) {
	footer {
		padding: 0;
	}
}

/* Styles for screens with a max-width of 770px (additional) */
@media only screen and (max-width: 770px) {
	.about {
		padding-top: 0;
		padding-bottom: 70px;
	}
}

/* Styles for screens with a max-width of 1300px */
@media only screen and (max-width: 1300px) {
	.about {
		padding-bottom: 70px;
		padding-left: 0;
	}
}
